<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSection" type="FileWatcherConsole.Configuration.CustomConfigSection, FileWatcherConsole"/>
  </configSections>

  <CustomSection>
    <Rules>
      <add nameTemplate="\w*test(\w*)" path="c:\task_bcl\tests" />
      <add nameTemplate="cat(\w*)" path="c:\task_bcl\cats" />
    </Rules>

    <Folder path="c:\bcl_folder" />

  </CustomSection>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


</configuration>