<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSection" type="FileWatcherConsole.Configuration.CustomConfigSection, FileWatcherConsole"/>
  </configSections>

  <CustomSection>
    <Rules>
      <add nameTemplate="A" path="c:\foo" />
    </Rules>

    <Folder path="c:\bcl_folder" />

  </CustomSection>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


</configuration>